<div class="profile row">
  <div class="col-md-4 avatar">
    <div class="wrapper">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Old_Artificial_Profile_Avatar.jpg" alt="avatar">
    </div>
  </div>
  <div class="col-md-8 basic-info">
    <div class="user-wrapper">
      <h2 class="username">luanotes</h2>
      <a class="edit-profile">
        <button type="button" name="button">Edit Profile</button>
      </a>
    </div>
    <ul class="posts">
      <li><span>12</span> posts</li>
      <li><span>195</span> followers</li>
      <li><span>345</span> following</li>
    </ul>
    <h2>Luan Nguyen</h2>
    <a class="website">luanotes.com</a>
  </div>
</div>

<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>

<div class="user-images">
  <div class="wrapper">
    <img src="https://images.unsplash.com/photo-1541264161754-445bbdd7de52?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80">
  </div>
  <div class="wrapper">
    <img src="https://images.unsplash.com/photo-1549990523-1b51064b23da?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80">
  </div>
  <div class="wrapper">
    <img src="https://images.unsplash.com/photo-1559583150-7621d10604bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80">
  </div>
</div>
